/* Fonts */
.header1 {
	font-size:36px;
}

.header2 {
	font-size:30px;
}

.header3 {
	font-size:24px;
}

.logo {
	text-align: center;
}

/* Styling */
.postThought {
	height:280px;
}

#newThoughtText {
	width: 100%;
	height: 250px;
	margin-bottom:5px;
}

#newThoughtSubmit {
	float: right;
}

#hint {
	background:black;border-radius: 5px;
	text-align: center;
	max-width: 400px; 
	color: rgb(230,230,230);
}

.arrow {
	margin: 50% 15%;
	position: absolute;
	width: 0; 
	height: 0; 
}

.arrowRight {
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-left: 60px solid rgb(230,230,230);
}

.arrowLeft {
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-right: 60px solid rgb(230,230,230);
}

/* Alignment */
body {
	overflow-x: hidden;
	overflow-y: hidden;
}

.controls {
	width: 100%;
	position: absolute;
	top: 100%;
	transform: translateY(-100%);
	padding: 10px;
	text-align: center;
}

.controlButton {
	max-width:600px;

}

.mainContainer {
	padding: 10px;

}

.showerThoughtContainer {
	position: absolute;
	width: 80%;
	max-height: 70%;
	padding: 10px;
	background: rgb(230,230,230);
	border-radius: 10px;
	text-align: center;
}

.showerThoughtText {
	font-size: 24px;
}

.controls button {
	width: 100%;
}



