:root {
	/* Colors will be overwritten by JS */
	--color1: rgb(250,250,250);
	--color2: rgb(230,230,230);
	--color3: rgb(200,200,200);
	--color4: rgb(170,170,170);
	--color5: rgb(140,140,140);
	--textColor: rgb(50,50,50);
}

::-webkit-scrollbar {
	display: none;
}

/* Fonts */
.header1 {
	font-size:36px;
}

.header2 {
	font-size:30px;
}

.header3 {
	font-size:24px;
}

.logo {
	text-align: center;
}

.header1, .header2, .header3, .logo, p{
	color: var(--textColor);
}

/* Styling */
body {
	background-color: var(--color1);
}

.postThought {
	height:280px;
}

#newThoughtText {
	width: 100%;
	height: 250px;
	margin-bottom:5px;
	resize: none;
}

#newThoughtSubmit {
	float: right;
}

.arrow {
	margin: 50% 30%;
	position: absolute;
	width: 0; 
	height: 0; 
}

.nextButton {
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-left: 60px solid var(--color2);
}

.nextButton:hover, .nextButton:active {
	border-left: 60px solid var(--color3);
}

.previousButton {
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-right: 60px solid var(--color2);
}

.previousButton:hover, .previousButton:active {
	border-right: 60px solid var(--color3);
}

.voteTable {
	display: inline-table;

}

.vote {
	background-color: var(--color3);
	border-radius: 10px;
	transition: all .2s ease-in-out;
}

.vote:hover, .vote:active {
	background-color: var(--color4);
	transform: scale(1.1);
}

.voteInverted {
	background-color: var(--color4) !important;
}

.voteCount {
	font-weight: bold;
}

.voteIcon {
	margin: 5px;
	width: 48px;
	height: 48px;
	background-size: 48px;
}

.voteFunny > .voteIcon {
	background-image: url("/static/images/funny.png");
}

.voteDeep > .voteIcon {
	background-image: url("/static/images/deep.png");
}

.voteDark > .voteIcon {
	background-image: url("/static/images/dark.png");
}

.voteDumb > .voteIcon {
	background-image: url("/static/images/dumb.png");
}

.modalButton {
	position:absolute;
	display: block;
	margin: -5px;
	background-color: var(--color2);
	width: 90px;
	height: 90px;
	padding: 15px;
	color: var(--color4);
}

.modalButton:hover, .modalButton:active {
	background-color: var(--color3);
	color: var(--color5);
}

.postModalButton {
	bottom: 0px;
	left: 0px;
	font-size: 90px;
	line-height: 60px;
	border-top-right-radius: 90px;
}

.loginModalButton {
	bottom: 0px;
	right:0px;
	font-size: 70px;
	line-height: 70px;
	border-top-left-radius: 90px;
}

/* Alignment */
html, body {
	height: 100%;
	overflow: hidden;
}

.mainContainer {
	padding: 10px;
	margin: 10px;
}

.showerThoughtContainer {
	position: absolute;
	overflow: scroll;
	padding: 10px;
	background: var(--color2);
	border-radius: 10px;
	text-align: center;
}

.showerThoughtText {
	font-size: 24px;
}

.controls button {
	width: 100%;
}